body {
  background-color: rgb(11, 18, 21);
  color: white;
}

svg#main > g > rect.bg {
  fill: #B2FFFF;
}

svg#main > g > rect.bg-even {
  fill-opacity: 0.015;
}

svg#main > g > rect:not(bg-even) {
  fill-opacity: 0.03;
}

svg#main text {
  fill: white;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

svg#main text.header {
  font-size: 14px;
  font-weight: 700;
}

svg#main text.type {
  font-size: 10px;
  font-weight: bold;
}

svg#main text.percent {
  fill: white;
  font-weight: bold;
  font-size: 12px;
}

svg#main text.count {
  fill: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
