body {
  font-family: 'Roboto', sans-serif;

  background-color: rgb(11, 18, 21);
  color: white;
}

div.full-row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

div#header-container {
  height: 20%;
}

div#svg-container {
  height: 80%;
}

h2#work-title {
  color: white;
  font-weight: 700;
}

p#description {
  font-weight: 700;
}

p#attribution {
  text-align: right;
  font-size: 0.8em;
  opacity: 0.4;
}

svg#main {
  width: 100%;
}

svg#main > g > rect.bg {
  fill: rgb(11, 18, 21);
}


svg#main > g > rect.bg-even {
  fill-opacity: 0.015;
}

svg#main > g > rect:not(bg-even) {
  fill-opacity: 0.03;
}


svg#main text {
  fill: white;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

svg#main text.header {
  font-size: 14px;
  font-weight: 700;
}

svg#main text.type {
  font-size: 12px;
  font-weight: bold;
}

svg#main text.percent {
  font-weight: bold;
}

svg#main text.count {
  fill: rgba(255, 255, 255, 0.4);
}

svg#main .baseline {
  stroke: rgba(255, 255, 255, 0.4);
  stroke-width: 2;
}

svg#main .axis path {
  fill: none;
}

svg#main .axis line {
  fill: none;
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 1;
}

svg#main .axis text {
  fill: rgba(255, 255, 255, 0.4);
}

svg#main .axis:not(.first) text {
  display: none;
}
