body {
  background-color: rgb(11, 18, 21);
  color: white;
}

div#svg-container {
   width: 100%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

svg#main {
  width: 100%;
}

svg#main > g > rect.bg {
  fill: #B2FFFF;
}

svg#main > g > rect.bg-even {
  fill-opacity: 0.015;
}

svg#main > g > rect:not(bg-even) {
  fill-opacity: 0.03;
}

svg#main text {
  fill: white;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

svg#main text.header {
  font-size: 14px;
  font-weight: 700;
}

svg#main text.type {
  font-size: 12px;
  font-weight: bold;
}

svg#main text.percent {
  font-weight: bold;
}

svg#main text.count {
  fill: rgba(255, 255, 255, 0.4);
}

svg#main .baseline {
  stroke: rgba(255, 255, 255, 0.4);
  stroke-width: 2;
}

svg#main .axis path {
  fill: none;
}

svg#main .axis line {
  fill: none;
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 1;
}

svg#main .axis text {
  fill: rgba(255, 255, 255, 0.4);
}

svg#main .axis:not(.first) text {
  display: none;
}
