body {
  background-color: rgb(11, 18, 21);
  color: white;
}

@media only screen and (min-height: 40em) {
  div.row {
    min-height: 50vh;
  }
}

@media only screen and (max-height: 40em) {
  div.row {
    min-height: 40em;
  }
}
